= form_for([:admin, @variant_type], builder: Admin::SingletonFormBuilder) do |f|

  = render 'admin/shared/form_errors', object: @variant_type

  %table.form_singleton
    = f.text_field :name
    = f.submit 'Save'

