- title 'New Variant Type'

%section.content

  %header
    %h2 New variant type
    %nav.links_row
      %ul
        %li= link_to 'Cancel', admin_variant_types_path

  %section.details

    = render 'form'