- title 'Dashboard'

%section.content

  %header
    %h2 Overview

  %section.details

    %table.singleton
      %thead
        %tr
          %th.center Users
      %tbody
        %tr
          %th.center= User.count
